*{
  margin: 0;
  padding: 0;
  
}
a{
  text-decoration: none;
}
body{
  background-color: #F8F8FF;
}
.nav-con{

  width: 100%;
  height: 30vh;
 
}
nav{
  justify-content: space-between;
  align-items: center;
  display: flex;

  width: 100%;
  height: 100%;
 

}
.textt{
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 40%;
  height: 100%;
}
.link-font{
  margin-right: 2rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 10%;
  height: 100%;
  color: black;
}
nav .lo{
  font-size: 2rem;
  text-indent: 2rem;
  z-index: 1;
  padding: 2rem;
}
nav a{
  color: black;
}
nav ul{
  justify-content: space-around;
  align-items: center;
  display: flex;

}
span{
  transform: translateY(2rem);
  
}
nav ul li{
 margin: 1rem;
  list-style: none;
  color: black;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
}
nav ul li:hover {
  transform: scale(1.1);
  transition: .4s;
}
/*-------heroImg-----------------------------------------------------------------------------------------*/
/*--------------------------------------*/
  .right-arrows-hide{
    transform: translateX(100px);
    transition: 1s ;
  }
  .right-arrows-apear{
    transform: translateX(0px);
  transition: 1s ;
  }
  .left-arrows-hide{
    transform: translateX(-100px);
    transition: 1s ;
  }
  .left-arrows-apear{
    transform: translateX(0px);
    transition: 1s ;
  }
/*--------------------------------------*/
.img-con{
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;

}

.arrows{
  font-size: 3rem;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  color: white;
  
}
.right{
  margin-left: 2rem;
  transition: .8s;
  color: rgb(255, 255, 255, 0.4);
}
.left{
  margin-right: 2rem;
  transition: .8s;
  color: rgb(255, 255, 255, 0.4);
}
.left:hover{
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}
.right:hover{
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}
.grad-hero{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2));
  z-index: 2;
}
.slider{

  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
@keyframes sliders{
  from{
    opacity: 0;
    
  }
  to{
    opacity: 1;
  }
}
.slide-img{
  animation: sliders .4s;
}
.slide-img{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
 background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-attachment: fixed;
}


/*-----cat-------------------------------------------------------------------------------------------*/
.cat-con{
  justify-content: space-around;
  align-items: center;
  display: flex;
 padding: 2rem;
}

.cat-text h1{
 padding-top: 2rem;
 padding-bottom: 1rem;
}
/*--------------------------------------*/
.title{
  transform: translateY(0px);
  transition: 1s;
}
.title-hide{
  transform: translateY(1000px);
  transition: 1s .4s;
}
.under-cat{
  transform: translateY(0px);
  transition: 1s .2s;
}
.under-cat-hide{
  transform: translateY(1000px);
  transition: 1s .2s;
}
.para-cat{
  transform: translateY(0px);
  transition: 1s .4s;
}
.para-cat-hide{
  transform: translateY(1000px);
  transition: 1s ;
}
.img-grid-trans{
  transform: translateY(0px);
  opacity: 1;

  transition: 1s .4s;
}
.img-grid-trans-hide{
  opacity: 0;
  transform: translateY(1000px);
  
  transition: 1s .6s;
}
/*--------------------------------------*/
.cat-text{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cat-text p {
  width: 30vw;
  margin-top: 1rem;
}
.img-cat{
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-template-rows: auto auto;
  display: grid;
  
}
.image-grid{
  width: 330px;
  height: 330px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  
}

.cat-im-text{
  position: absolute;
  z-index: 1;
  color: white;
  transform: translateX(-330px); 
 
  transition: .8s;
}
.im-con{
  background-color: coral; 
   justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}
.grad-small{
  margin: 1rem;
  width: 330px;
  height: 330px;
  position: absolute;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.4));
  background-position: center; 
  transform: translateX(330px); 
  z-index: 1;
  transition: .8s;
 
}
.underline{
  width: 70%;
  height: 2px;
  background-color:black;
  
}
/*------------------------------------*/
.im-con:hover .grad-small{
  transform: translateX(0px); 
}

.im-con:hover .cat-im-text{
  transform: translateX(0px); 
}
/*-------------banner-----------------------------------------------------------------------------------*/
.banner-con{
  justify-content: space-around;
  align-items: center;
  display: flex;
  overflow-x: hidden;
  width:100vw;
}

.trans{
  transform: translateX(800px);
  transition: 1s;
}
.ban{
  transform: translateX(0px);
  transition: 1s;
  color: aliceblue;
}
.banner-text h1{
 padding-top: 2rem;
 padding-bottom: 1rem;


}

.grad{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgba(39, 37, 37, 0.6));
  z-index: 1;
}
.banner-text{
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: beige;
}
.banner-text p {
  width: 30vw;
  margin-top: 1rem;
}
/*------------------------------------*/
.para{
  transform: translateX(1000px);
  transition: 1s .4s;
 }
 .para-hide{
  transform: translateX(0px);
  transition: 1s .4s;
 }
 .under{
  transform: translateX(-1000px);
  transition: 1s .3s;
 }
 .under-hide{
  transform: translateX(0px);
  transition: 1s .3s;
 }
 /*------------------------------------*/
.banner-con .underline{
  background-color: beige;
}
.banner-img{
  position: relative;
  width: 100%;
  height: 100vh;

  
}
.image-banner{
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  
}
/*----------gallery---------------------------------------------------------------------------------*/
.gallery-con{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100vw;
 margin: 2rem;
 overflow-x: hidden;
}
/*--------------------------------------*/
/*  .para-gal-show{
    opacity: 1;
    transform: translateY(0px);
    transition: 1s .4s;
  }
  .para-gal-hide{
    opacity: 0;
    transform: translateY(100px);
    transition: 1s ;
  }
  .header-show{
    opacity: 1;
    transform: translateY(0px);
    transition: 1s ;
  }
  .header-hide{
    opacity: 0;
    transform: translateY(100px);
    transition: 1s .4s;
  }
  .under-gal-show{
    opacity: 1;
    transform: translateY(0px);
    transition: 1s .2s;
  }
  .under-gal-hide{
    opacity: 0;
    transform: translateY(100px);
    transition: 1s .2s;
  } */
/*--------------------------------------*/
/*.img-gal-show{
  opacity: 1;
  transform: translateY(0px);
  transition: 1s .5s;
}
.img-gal-hide{
  opacity: 0;
  transform: translateY(200px);
  transition: 1s ;
} */
/*--------------------------------------*/
.gallery-text{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.gallery-text p{
  width: 30vw;
  margin-top: 1rem;
}
.gallery-imgs{
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}
.gal-img{
  width: 30%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.img{
  width: 40%;
  height: 20px;
  background-color: brown;
  margin: 2rem;
}
.section{
  overflow-y: hidden;
}
/*--------footer---------------------------------------------------------------------------------------*/

.footer-con{
  width: 100vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  display: flex;
  
}
.footer-text{
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  margin-left: 4rem;
  margin-right: 4rem;
}
.name{
  font-size: 1rem;
  color: black;
}
.logo a {
  color: black;
}
.logo  {
  width: 20%;
  color: black;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
h1 i{
  font-size: 1rem;
}
.logo i{
  margin: 1rem;
}
/*----------- contact-------------------------------------------------------------------------------------*/
body {
  overflow-x: hidden;
  width: 100vw;
}
.contact {
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.img-contact {
  width: 30%;
  margin-right: 6rem;
}
.img {
  width:100%;
  height: 600px;
  background-size: cover;
  
}
.form{
 
}
/*-------------form--------------------------------------------------------------------------------*/
.con-form{
 
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
   padding: 4rem 2rem;
 
}
form{
  z-index: 3;
  display: flex;
  flex-direction: column;
 
}
.grad-form{

  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.4));
  z-index: 2;
}
form h1{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 2rem;
  font-size: 2rem;
  color:black;
}
.header-text p{
  width: 60%;
  margin-bottom: 2rem;
}
 .underline-contact{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 70%;
  height: 2px;
  background-color:black;
  margin-bottom: 2rem;
}
.form{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.header-text{
  width: 100%;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.head{
  margin-bottom: 2rem;
  font-size: 2rem;
}

form label{
  color: black;
}
form .con-input{
  justify-content: center;
  align-items: center;
  display: flex;
}
.in-con{

  display: flex;
  flex-direction: column;
}
form input, textarea{

  margin: 1rem;
  padding: .4rem;
 
}

form button{
  margin: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  color: aliceblue;
  font-size: 1rem;
  background-color: rgb(15, 15, 15, .4);
  border: 2px solid black;

}

form button:hover {
  transition: .8s;
  background-color: white;
  color:black;
  font-weight: bold;
} 

/*------------galleryPage------------------------------------------------------------------------------*/
@keyframes load{
  from {
      opacity: 0;
      transform: translateY(30px);
     
    }
  to  {
      opacity: 1;
     transform: translateY(0px);
    
    }
  }
 .gal-page-con{
  width: 100vw;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 }
 .galPage-img-con{
  width: 95%;
 margin-top: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 } 
 .galPage-grid{
 width: 100%;
 justify-content: center;
 align-items: center;
 
 gap: .5rem;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 90px);
  animation: load .8s ;
  
 } 
 /*------------------------------*/
 .hide-gal{
  opacity: 0;
  transform: translateY(10px);
  transition: .8s;
}
.show-gal{
  opacity: 1;
  transform: translateY(0px);
  transition: .8s;
}
/*------------------------------*/
 .img-0{
 /* grid-area: img-0; */
 grid-column: span 6;
 grid-row: span 5;
 }
 .img-1{
 /* grid-area: img-1; */
 grid-column: span 14;
 grid-row: span 5;
 }
 .img-2{
/*  grid-area: img-2; */
grid-column: span 10;
grid-row: span 5;
 }
 .img-3{
/*  grid-area: img-3; */
grid-column: span 5;
grid-row: span 5;
 }
 .img-4{
/*  grid-area: img-4; */
grid-column: span 5;
grid-row: span 5;
 }
 .img-5{
/*  grid-area: img-5; */
grid-column: span 8;
grid-row: span 3;

 } 
 .img-6{
/*  grid-area: img-6; */
grid-column: span 3;
grid-row: span 3;
 }
 .img-7{
  grid-column: span 3;
  grid-row: span 3;
 }
 .img-8{
/*  grid-area: img-8; */
grid-column: span 6;
grid-row: span 3;
 } 
 .img-9{

 grid-column: span 8;
 grid-row: span 3;
 } 


 .img-10{

 grid-column: span 6;
 grid-row: span 5;
 } 
 .img-11{

grid-column: span 6;
grid-row: span 5;
 } 
 .img-12{

 grid-column: span 8;
grid-row: span 7;
 } 
 .img-13{

grid-column: span 6;
grid-row: span 3;
 } 
 .img-14{

grid-column: span 6;
grid-row: span 3;
 } 
 .img-15{

 grid-column: span 12;
grid-row: span 3;
 } 



 .image-gal-page{
width: 100%;
 height: 100%;
 background-repeat: no-repeat;
 background-size: cover;

 background-color: aqua;
 }
 .image-gal-page:hover{
   cursor: pointer;
   transition: .8s;
   opacity: .7;
 }
/*--------Modal----------------------------------------------------------------------------------------*/
.modal-con{
  width: 100%;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2;
  background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.9));
}
.modal-image{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80vw;
  height: 80vh;
  z-index: 3;
  background-repeat: no-repeat;
  background-size: contain;
}
/*------------------------------------------*/
  .modal-hide{
 
    transform: translateY(1000px);
    transition: 1s ;
  }
  .modal-show{

    transform: translateY(0px);
    transition: 1s ;
  }

/*------------------------------------------*/
/*-----------video-----------------------------------------------------------------------------------*/
.vid-con{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  
}
/*----------------------------------*/
  .color{
    background-color: rgb(0, 0, 0);
    transition: .8s;
  }
  .color-hide{
    background-color: #F8F8FF;
    transition: .8s;
  }
/*----------------------------------*/
.vid-back{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 70vh;
}
/*.video{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
video{
  width: 200px;
  height: 200px;
  object-fit: cover;
} 

.image-vid{
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*-------------------Store/product--------------------------------------------------------------------------------*/
/*main{
  justify-content: center;
  align-items: center;
  display: flex;
}
.store-ccon {
 
  display: flex;

 
  width: 100vw;
 
}
 .store-con{
  justify-content: center;
  align-items: center;
  display: flex;

  position: absolute;
  width: 100vw;
  z-index: 1;
  margin-bottom: 3rem;
 }
 .store-text{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
 }
 .store-items{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
}
.item-img{
  width: 100%;
  height: 400px;
  
}
.img-item{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  background-position: center;
}
.img-item-0{
  background-position: center;
}
.img-item-1{
  background-position: bottom;
}
 .store-item{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
   margin: 3rem;
   width: 50%;
   height: 400px;
 }
 .item-ch{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 }
 .text-items{
  justify-content: center;
  align-items: center;
  display: flex;
 }
 .name-item{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
 }
.name-item h1 a{
  color:rgb(0, 0, 0);
}
 .text-store-info{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 }
 .item-size-size{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 }
 .item-size-size .underline{
   width: 5rem;
   height: 1px;
   margin-bottom: .3rem;
 }
 .items-btn{
  justify-content: center;
  align-items: center;
  display: flex;
 
 }
 /*--------product----------------------------------------------------------------------------------------*/

 .store-items{
  justify-content: center;
  align-items: center;
  display: flex;
 flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
}
.item-img{
  width: 100%;
  height: 400px;
  
}
.name-item h1 a{
  color:rgb(0, 0, 0);
}
.img-item{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  background-position: center;
}
.img-item-0{
  background-position: center;
}
.img-item-1{
  background-position: bottom;
}
 .store-item{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
   margin: 3rem;
   width: 50%;
   height: 400px;
 }
 .item-title-he{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
 }
 .item-title-he h1{
   padding: .8rem;
 }
 .item-title-he p{
   width: 50%;
   padding-top: 2rem;
 }
 /*---------------detail---------------------------------------------------------------------------------------*/
  .item-ch{
    
    width: 45%;
    margin-left: 2rem;
  
  }
  .header-item{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .img-detail{
    width: 50%;
    height: 600px;
   
  }
 
  .img-detail .img-d{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    background-position: center;
  }
  .store-con{
    width: 100vw;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 3rem;
  }
  .store-item-it{
  width: 96%;
  display: flex;

    
  }
  .item-title{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .item-title h1{
    padding: 1rem;
  }
  .item-title p {
    margin-top: 1rem;
  }
  .item-ch{
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .item-ch h1{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2rem;
  }
  .item-con-info{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .size{
    width: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20px;
  }
  .sixe .underline{
    width: 1px;
  }
  .item-text-price{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .items-btn{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;

  }
  .items-btn button{
    margin-left: 1rem;
  }
  .go-back{
    
    margin-right: 5rem;
    padding: 3rem;
   
  float: right;

  }
  .d{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .go-back .d h1{
    font-size: 1.3rem;
  }
  .go-back .d i{
    font-size: 2rem;
    color: black;
    margin-left: .4rem;
  }
  .items-btn button{
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    color: white;
    background-color: rgb(39, 4, 11);
    border: none;
  }
/*-------------------------cart---------------------------------------------------------------------------*/
 /* .cart {
   float: right;
    
    width: 40vh;
 
   z-index: 2;
   padding: 2rem;
   position: relative; 
   background-color: rgb(241, 233, 223, .6); 
  
  }
  /*-----------------------------------*/
 /* .slideShow{
   
    transform: translateX(0px);
    transition: .4s;
  }
  .slideHide{
    
    transform: translateX(450px);
    transition: .4s;
  }
  /*-----------------------------------*/
  /* .item-cart-name{
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 5px;
    }
    .total{
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 3px;
    }
    .total-text{
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 5px;
    }
    .final-price{
      margin-top: 2rem;
    }
    /*----------header------------------------------------------------------------------------------*/
    
    .cart-title{
        margin-bottom: 2rem;
     
    }
    
  
    .header-cart-con{
      padding: 3rem;
    }
    .cart-btn-con{
      width: 100vw;
    }
    .cart-btn{
     margin-left: 1rem;
      justify-content: left;
     align-items: center;
     display: flex;
 
  
    }
    .cart-btn p{
       font-size: 1rem;
       justify-content: center;
       align-items: center;
       display: flex;
    }
    .cart-btn h1{
      justify-content: center;
      align-items: center;
      display: flex;
     
    }
    
    /*-----------------------------------------------------------------------------------------*/
    /*---------basket-------------------------------------------------------------------------------*/
    
    .check-out-con{
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      margin-top: 1rem;
      

    }
    .header-cart-con a, h1 {
      color: rgb(0, 0, 0);
    }
    .cart-con{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 3rem;
    }
    .cart-con1{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 50%;
    }
    .item-name{
      padding-bottom: .5rem;
      padding-top: .5rem;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .item-info{
      padding-bottom: .5rem;
      padding-top: .5rem;
     
    }
    .cart-title{
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .cart-items{
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    
   .cart-con1 .underline{
       width: 100%;
   }
    .total-text{
      padding-bottom: .2rem;
      padding-top: .5rem;
      font-size: 1.3rem;
      font-weight: bold;
    }
    .total{
      font-weight: bold;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
    }
    .cart-info-con{
      width: 100%;
     
    }
    .check-prices{
      width: 100%;
     
    }
    .check-out-btn button{
       padding: 5px 20px 5px 20px;
       border-radius: 30px;
       color: white;
       background-color: rgb(39, 4, 11);
       border: none;
    }
    .add-minus-btn button{
      border-radius: 50%;
      color: white;
      background-color: rgb(39, 4, 11);
      border: none;
      padding: 7px ;
      margin-left: 1rem;
      margin-right: 1rem;
    }
/*-------------------------item2---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/