*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.nav-con{

  width: 100%;
  height: 17vh;
  border-bottom: 2px solid black;
}
nav{
  justify-content: space-around;
  align-items: center;
  display: flex;
  display: flex;
  width: 50%;
  height: 100%;
 

}
nav ul{
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin: 2rem;
}
nav ul li{
 margin: 2rem;
  list-style: none;
  color: black;
  font-size: 2rem;
}
/*-------heroImg-----------------------------------------------------------------------------------------*/

.img-con{
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;

}

.arrows{
  font-size: 3rem;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: absolute;
  color: white;
  
}
.right{
  margin-left: 2rem;
  transition: .8s;
  color: rgb(255, 255, 255, 0.4);
}
.left{
  margin-right: 2rem;
  transition: .8s;
  color: rgb(255, 255, 255, 0.4);
}
.left:hover{
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}
.right:hover{
  transform: scale(1.2);
  color: rgb(255, 255, 255);
}
.grad-hero{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.4));
  z-index: 2;
}
.slider{

  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
@keyframes sliders{
  from{
    opacity: 0;
    
  }
  to{
    opacity: 1;
  }
}
.slide-img{
  animation: sliders .4s;
}
.slide-img{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
 background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-attachment: fixed;
}


/*-----cat-------------------------------------------------------------------------------------------*/
.cat-con{
  justify-content: space-around;
  align-items: center;
  display: flex;
 padding: 2rem;
}

.cat-text h1{
 padding-top: 2rem;
 padding-bottom: 1rem;
}
.cat-text{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cat-text p {
  width: 30vw;
  margin-top: 1rem;
}
.img-cat{
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  grid-template-rows: auto auto;
  display: grid;
  
}
.image-grid{
  width: 330px;
  height: 330px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  
}

.cat-im-text{
  position: absolute;
  z-index: 1;
  color: white;
  transform: translateX(-330px); 
 
  transition: .8s;
}
.im-con{
  background-color: coral; 
   justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}
.grad-small{
  margin: 1rem;
  width: 330px;
  height: 330px;
  position: absolute;
  background-color: rgb(117, 106, 106, .2);
  background-position: center; 
  transform: translateX(330px); 
  z-index: 1;
  transition: .8s;
 
}
.underline{
  width: 70%;
  height: 2px;
  background-color:black;
  
}
/*------------------------------------*/
.im-con:hover .grad-small{
  transform: translateX(0px); 
}

.im-con:hover .cat-im-text{
  transform: translateX(0px); 
}
/*-------------banner-----------------------------------------------------------------------------------*/
.banner-con{
  justify-content: space-around;
  align-items: center;
  display: flex;
 
}

.banner-text h1{
 padding-top: 2rem;
 padding-bottom: 1rem;
}
.grad{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgba(39, 37, 37, 0.6));
  z-index: 1;
}
.banner-text{
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: beige;
}
.banner-text p {
  width: 30vw;
  margin-top: 1rem;
}
.banner-con .underline{
  background-color: beige;
}
.banner-img{
  position: relative;
  width: 100%;
  height: 100vh;

  
}
.image-banner{
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
/*----------gallery---------------------------------------------------------------------------------*/
.gallery-con{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
 margin: 2rem;
}
.gallery-text{

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.gallery-text p{
  width: 30vw;
  margin-top: 1rem;
}
.gallery-imgs{
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}
.gal-img{
  width: 30%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.img{
  width: 40%;
  height: 20px;
  background-color: brown;
  margin: 2rem;
}
/*--------footer---------------------------------------------------------------------------------------*/
.footer-con{
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
}